<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>AdminLogin</servlet-name>
  	<display-name>AdminLogin</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlets.AdminLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SubjectsList</servlet-name>
  	<display-name>SubjectsList</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlets.SubjectsList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ClasssList</servlet-name>
  	<display-name>ClasssList</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlets.ClasssList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentList</servlet-name>
  	<display-name>StudentList</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlets.StudentList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TeachersList</servlet-name>
  	<display-name>TeachersList</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlets.TeachersList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Class1Report</servlet-name>
  	<display-name>Class1Report</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlets.Class1Report</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Class2Report</servlet-name>
  	<display-name>Class2Report</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlets.Class2Report</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AssignClass</servlet-name>
  	<display-name>AssignClass</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlets.AssignClass</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AssignTeacher</servlet-name>
  	<display-name>AssignTeacher</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlets.AssignTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminLogin</servlet-name>
  	<url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SubjectsList</servlet-name>
  	<url-pattern>/subjects</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ClasssList</servlet-name>
  	<url-pattern>/ClasssList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentList</servlet-name>
  	<url-pattern>/StudentList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TeachersList</servlet-name>
  	<url-pattern>/TeachersList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Class1Report</servlet-name>
  	<url-pattern>/Class1Report</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Class2Report</servlet-name>
  	<url-pattern>/Class2Report</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AssignClass</servlet-name>
  	<url-pattern>/AssignClass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AssignTeacher</servlet-name>
  	<url-pattern>/AssignTeacher</url-pattern>
  </servlet-mapping>
</web-app>
